DATABASE_URL=
# DATABASE_URL_UNPOOLED="postgresql://neondb_owner:npg_7V0XtCkzwPIE@ep-billowing-rice-aduwq9pt.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

NEXTAUTH_SECRET=
NEXTAUTH_URL=
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=

CLARITY_PROJECT_ID=